<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Add a Meal Prep</h1>

    <form action="/mealPrep" method="POST">
        Meal Name: <input name="mealName" type="text">
        <br><br>
        About: <textarea name="notes" type="text"></textarea>
        <br><br>
        Ingredients: <input class="ingre" name="ingredients" type="text">
        <!-- need to add a button: "ADD AN INGREDIENT" that creates an input form -->
        <br><br>
        Instructions: <input name="instructions" type="text">
        <br><br>
        Protein: <input name="protein" type="number">
        <br><br>
        Fat: <input name="fat" type="number">
        <br><br>
        Carbs: <input name="carbs" type="number">
        <br><br>
        Calories: <input name="calories" type="number">
        <br><br>
        <input type="submit" value="CREATE MEAL">
    </form>

    <div>
        <button onclick="AddIngredient()">ADD INGREDIENT</button>
    </div>

    <script>

            const AddIngredient = () => {

            let createIngredientField = document.createElement("input")
            createIngredientField.setAttribute("name", "ingredients");
            createIngredientField.setAttribute("type", "text")

            let ingredientInputList = document.querySelectorAll(".ingre")
            ingredientInputList.appendChild(createIngredientField)

            console.log(ingredientInputList)

            }

    </script>


</body>
</html>